server:
  port: 9090
spring:
  application:
    name: msvc-cuenta
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/microservicios
    username: postgres
    password: root

  jpa:
    hibernate:
      ddl-auto: create
    database: postgresql

  config:
    import: optional:configserver:http://localhost:8888

eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka


